<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{! Everything else gets inserted here }}
    <header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="site-head-content">
            <div class="more icon-arrow-down"></div>
            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        </div>
        <div class="site-block">

        </div>
    </header>

    {{{body}}}
    <footer class="site-footer content">
        <div class="content-inner">
            <a rel="nofollow" class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
                 <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
                 <section class="poweredby">Proudly published with <span class="icon-ghost">Ghost</span></section>
        </div>
    </footer>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
